<div class="wrapper">
  <div id="main">
    <p>Here you can find out where to get a meal within three miles of campus for eight dollars or less.</p>
    <p><%= link_to 'Restaurants', controller: 'restaurants' %></p>
  </div>
</div>
