<div id="site-header">
  <div class="wrapper">
    <h1><a href="./">Charlotte Cheap Eats</a></h1>
  </div>
</div>
<div class="wrapper">
  <div id="main">
    <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
    </p>
    <p>
        <strong>Genre:</strong>
        <%= @restaurant.genre %>
    </p>
    <p>
        <strong>Rating:</strong>
        <%= @restaurant.rating %>
    </p>
    <%= link_to 'Restaurant List', restaurants_path %>
  </div>
</div>